@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #180D59;
}

h1 {
    font-family: 'Zen Dots', cursive;
    text-transform: uppercase;
    font-size: 35px;

}

.container {
    width: 80%;
    height: 90vh;
    display: flex;
    box-shadow: 5px 5px 10px #00000036;
}

.form-image {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #CFF846;
    padding: 1rem;
    flex-direction: column;
}

.form-image img {
    width: 75%;
}

.form {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F8FAFF;
    padding: 3rem;
}

form {
    width: 75%;
}

.form-header {
    margin-bottom: 3rem;
    display: flex;
}

.form-header h1::after {
    content: "";
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #21DF99;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-group {
    width: 100%;
    height: 50%;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gender-group {
    display: flex;
    justify-content: space-between;
    margin-top: 0.62rem;
    padding: 0 0.5rem;
}

.gender-input {
    display: flex;
    align-items: center;
}

.gender-input input {
    margin-right: 0.35rem;
}

.gender-input label {
    font-size: 0.81rem;
    font-weight: 600;
    color: #000000c0;
}

.button button{
    width: 100%;
    margin-top: 2.5rem;
    border: none;
    background-color: #21DF99;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}

.button button:hover {
    background-color: #21DF9991;
    transition: 0.5s;
}

.button button {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #F8FAFF;
}

@media screen and (max-width: 1330px){
    .form-image {
        display: none;
    }

    .container {
        width: 50%;
    }

    .form {
        width: 100%;
    }
}

@media screen and (max-width: 1064px) {
    .container {
        width: 90%;
        height: auto;
    }

    .input-group {
        flex-direction: column;
        overflow-y: scroll;
        flex-wrap: nowrap;
        max-height: 10rem;
        padding-right: 5rem;
    }

    .gender-inputs {
        margin-top: 2rem;
    }

    .gender-group {
        flex-direction: column;
    }

    .gender-input {
        margin-top: 0.5rem;
    }
}